.error{
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	z-index: 1;
	background: $color-error;
	min-height: 60px;
	padding: 0 20px;
	// display: flex;
	justify-content: center;
	align-items: center;
	color: $color-light-1;
	font-size: 20px;
	border-radius: 10px;
	&__text{

	}
}