.results{
	display: block;
	width:80%;
	@media only screen and (max-width: $bp-medium){
		width: 100%;
	}
	&__box{
		 
		padding: 10px 10px;
		&:first-child{
			margin-bottom: 2rem;
			border: 2px solid #c9e6d3;
			& .results__header {
				display: none;
			} 
		}
		&:nth-child(2n){
			background: #c9e6d3;
		}
	}
	&__header{
		display: flex;
		align-items: center;
		
		
		padding-bottom: 10px;
		// flex-direction: ;

	}
	&__ticket{
		
		width: 150px;
		
	}
}